@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');


.table{
    width: 59vw;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
    clear: both;
    border: 1px solid #000;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
    text-align: center;
}
.tr{
    height: 48px;
}
.td1T{
    border-style: solid; 
    border-color: #000000; 
    width: 21.2121%;
}
.td2T{
    height: 24px; 
    border-style: solid; 
    border-color: #000000; 
    width: 3.50877%; 
    text-align: center; 
    vertical-align: middle;
}