@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

.superDiv{
    display: flex;
    margin-top: 140px;
    align-items: center;
    flex-direction: column;
    width:59vw;
    margin-left: auto;
    margin-right: auto;
}
.zagolovok1{
    color: #29776e;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
    margin-bottom: 20px;
}
.zagolovok2{
    color: #29776e;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 60px;
    font-style: normal;
    margin-top: 50px;
}
.mainDivInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
}
.mainSertiousDiv{
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
.scheme{
    width:28.8vw;
    height:28.3vw;
}
.mainCircle{
    min-width: 7px;
    min-height: 7px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 20px;
}
.mainDivInfo1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
    display: flex;
    align-items: start;
    text-align: start;
    flex-direction: row;
}
.rightP{
    display: flex;
    text-align: start;
}
.scheme2{
    margin-top: 40px;
    margin-bottom: 40px;
}
.scheme2:hover{
    transform: scale(1.1);
}
.imageStayDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: clamp(1.25rem, 0.893rem + 0.71vw, 1.75rem);
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color:chocolate;
    background-color: white;
    border: 1px solid chocolate;
    cursor: pointer;
    width:clamp(12.5rem, -0.893rem + 26.79vw, 31.25rem);
    height: clamp(2.188rem, 1.518rem + 1.34vw, 3.125rem);
    animation: formP 2.5s forwards;
    margin-bottom: 60px;
}
.imageStayDiv:hover{
    color:rgb(41, 119, 110);
    border:rgb(41, 119, 110)  1px solid;
}
.flexDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width:1100px) {
    .imageStayDiv{
        left:70vw;
    }

}
@media (max-width:900px) {
    .superDiv{
        left:0px;
        width:90%;
        margin-left: 20px;
    }
}
@media (max-width:750px) {
    .imageStayDiv{
        display: none;
    }
    .zagolovok2{
        display: none;
    }
}