@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');


.superDiv{
    display: flex;
    margin-top: 70px;
    align-items: start;
    flex-direction: column;
    width:59vw;
    margin-left: auto;
    margin-right: auto;
}
.zagolovok1{
    font-size: 17px;
    line-height: 1.304347826086957em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    color: #f2f2f2; 
    margin-bottom: 100px;
}
.mainDivInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
}