@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');


.middleP{
    color: rgb(41, 119, 110);
    font-family: Roboto;
    line-height: 75px;
    font-weight: 500;
    font-size: clamp(3rem, 0.679rem + 4.64vw, 6.25rem);
}
.middleDivFire{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}
.middleSroki{
    color:chocolate;
    font-family: Roboto;
    line-height: 28px;
    font-size: clamp(1.438rem, -0.438rem + 3.75vw, 4.063rem);
    font-weight: 700;
}
.middleDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
    animation: fire 2.5s forwards;
    position: relative;
}
.middlePhone{
    color: rgb(41, 119, 110);
    font-family: Roboto;
    line-height: 17px;
    font-weight: 500;
    font-size: clamp(1.188rem, 0.339rem + 1.7vw, 2.375rem);
    position: relative;
    text-align: right;
    float: right;
    margin-right: calc(10vw - 10px);
    top:-120px;
    height:40px;
    width: 300px;
    cursor: pointer;
    animation: phone 2.5s forwards;
}
.middlePhone:hover{
    color:chocolate;
}
.can{
    margin-left: 6vw;
    margin-top:5vw;
    width: clamp(18.375rem, 5.563rem + 25.62vw, 36.313rem);
    height:clamp(12.125rem, 3.643rem + 16.96vw, 24rem);
    zoom: 1;
    opacity: 0;
    animation: ani 2.5s forwards;
    position: relative;
}
.leftDiv{
    color: rgb(94, 94, 94);
    font-family: Yeseva One;
    line-height: 45px;
    font-weight: 500;
    font-size: clamp(2.125rem, 0.741rem + 2.77vw, 4.063rem);
    position: relative;
    text-align: right;
    float: right;
    margin-right: calc(10vw - 10px);
    top:-200px;
}
.rightDivP{
    margin-bottom:40px;
    animation: word 2.5s forwards;
    position: relative;
}
.superDiv{
    margin-top: 180px;   
}
@media (max-width:1400px) {
    .leftDiv{
        top:-100px;
    }
}
@keyframes ani {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom:0px}
}
@keyframes phone {
    0% {opacity: 0;right: -100px;}
    100% {opacity: 1;right:0px}
}
@keyframes fire {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom:0px}
}
@keyframes word {
    0% {opacity: 0;right: -100px;}
    100% {opacity: 1;right:0px}
}