@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    top:0px;
    flex-wrap: wrap;
    position: fixed;
    padding-top:20px;
    width:100vw;
    max-width: 100vw;
    z-index: 10;
    background-color: white;
}
.logoDiv{
    display: flex;
    cursor: pointer;
}
.logoMain{
    margin-left: 20px;
    color:chocolate;
    font-family: Roboto;
}
.mainHeaderText{
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    color:#29776e;
    height: 30px;
    font-family: Roboto;
    padding-left: 15px;
}
.mainHeaderText:hover{
    color:chocolate
}
.link{
    text-decoration: none;
}