@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




.superDiv{
    display: flex;
    margin-top: 140px;
    align-items: center;
    flex-direction: column;
    width:59vw;
    margin-left: auto;
    margin-right: auto;
}
.zagolovok1{
    color: #29776e;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
    font-style: normal;
}
.zagolovok2{
    color: #29776e;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 60px;
    font-style: normal;
    margin-top: 50px;
}
.mainDivInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
}
.mainSertiousDiv{
    display: flex;
    flex-direction: row;    
    margin-top: 40px;
    align-items: flex-start;
    margin-bottom: 40px;
    width:59vw;
    justify-content: space-between;
}
.mainDivInfo1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
    width:252px;
}
.scheme:hover{
    transform: scale(1.1);
}
.scheme{
    width:clamp(12.5rem, 4.775rem + 38.63vw, 51.125rem);
    height:clamp(12.5rem, 6.696rem + 11.61vw, 20.625rem);
}
.imageStayDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: clamp(1.25rem, 0.893rem + 0.71vw, 1.75rem);
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color:chocolate;
    background-color: white;
    border: 1px solid chocolate;
    cursor: pointer;
    width:clamp(12.5rem, -0.893rem + 26.79vw, 31.25rem);
    height: clamp(2.188rem, 1.518rem + 1.34vw, 3.125rem);
    animation: formP 2.5s forwards;
    margin-bottom: 60px;
}
.imageStayDiv:hover{
    color:rgb(41, 119, 110);
    border:rgb(41, 119, 110)  1px solid;
}
.flexDiv{
    display: flex;
    flex-direction: column;
}
@media (max-width:1200px) {
    .imageStayDiv{
        display: none;
}}
@media (max-width:900px) {
    .superDiv{
        margin-left: 20px;
        margin-right: 0px;
    }
    .zagolovok2{
        display: none;
    }
    .mainSertiousDiv{
        flex-direction: column;
    }
}